// antd reset
@import 'antd/dist/reset.css';

// init
@import './mixins';
@import './variables';

// font
@font-face {
  font-display: swap;
  font-family: 'AlibabaSans';
  font-weight: 400;
  src: url('/fonts/AlibabaSans-Regular.woff2') format('woff2');
  // CSS Unicode Range Generator https://codepen.io/elifitch/pen/Ljqway
  // abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789/.=-;',?!#@$%^&*()_+\|:"[]{}
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: 'AlibabaSans';
  font-weight: 500;
  src: url('/fonts/AlibabaSans-Medium.woff2') format('woff2');
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

@font-face {
  font-display: swap;
  font-family: 'AlibabaSans';
  font-weight: 700;
  src: url('/fonts/AlibabaSans-Bold.woff2') format('woff2');
  unicode-range: U+21-3B, U+3D, U+3F-5F, U+61-7D;
}

:root {
  color-scheme: light dark;

  &[data-theme='light'] {
    color-scheme: light;
  }
  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

body {
  margin: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    'AlibabaSans',
    'PingFang SC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// fix for antd skeleton list margin
.ant-skeleton-paragraph {
  margin-bottom: 0;
}
