@import '@/styles/mixins.less';
@import '@/styles/variables.less';

:root {
  &[data-theme='light'] {
    @import (less) 'github-markdown-css/github-markdown-light.css';
    .markdown-preview {
      @import (less) 'highlight.js/styles/github.css';
    }
  }
  &[data-theme='dark'] {
    @import (less) 'github-markdown-css/github-markdown-dark.css';
    .markdown-preview {
      @import (less) 'highlight.js/styles/github-dark.css';
    }
  }
}

.markdown-preview {
  .markdown-body {
    background-color: transparent !important;
    line-height: 1.8 !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-bottom: 0 !important;
      border: none !important;
    }
  }
}
